[submodule "nvim"]
	path = nvim/.config/nvim
	url = https://github.com/suasuasuasuasua/nvim
[submodule "vim/vim-gitgutter"]
	path = vim/.config/vim/pack/plugin/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/vim-tmux-navigator"]
	path = vim/.config/vim/pack/plugin/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/direnv.vim"]
	path = vim/.config/vim/pack/plugin/start/direnv.vim
	url = https://github.com/suasuasuasuasua/direnv.vim
[submodule "vim/vim-go"]
	path = vim/.config/vim/pack/syntax/opt/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/fzf"]
	path = vim/.config/vim/pack/plugin/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/fzf.vim"]
	path = vim/.config/vim/pack/plugin/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/gv.vim"]
	path = .config/vim/pack/plugin/start/gv.vim
	url = https://github.com/junegunn/gv.vim
[submodule "vim/undotree"]
	path = vim/.config/vim/pack/plugin/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "vim/nerdtree"]
	path = vim/.config/vim/pack/plugin/opt/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/vim-indent-guides"]
	path = vim/.config/vim/pack/plugin/start/vim-indent-guides
	url = https://github.com/preservim/vim-indent-guides
[submodule "vim/vim-devicons"]
	path = vim/.config/vim/pack/plugin/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "vim/vim-commentary"]
	path = vim/.config/vim/pack/plugin/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/vim-dispatch"]
	path = vim/.config/vim/pack/plugin/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim/vim-fugitive"]
	path = vim/.config/vim/pack/plugin/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/vim-repeat"]
	path = vim/.config/vim/pack/plugin/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/vim-sensible"]
	path = vim/.config/vim/pack/plugin/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/vim-surround"]
	path = vim/.config/vim/pack/plugin/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/vim-vinegar"]
	path = vim/.config/vim/pack/plugin/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim/targets.vim"]
	path = vim/.config/vim/pack/plugin/start/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vim/tokyonight.nvim"]
	path = vim/.config/vim/pack/colors/opt/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
[submodule "vim/coc.nvim"]
	path = vim/.config/vim/pack/plugin/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/ultisnips"]
	path = vim/.config/vim/pack/plugin/opt/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/vim-snippets"]
	path = vim/.config/vim/pack/plugin/opt/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/vim-which-key"]
	path = vim/.config/vim/pack/plugin/start/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key
[submodule "vim/vim-sleuth"]
	path = vim/.config/vim/pack/plugin/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "vim/auto-pairs"]
	path = vim/.config/vim/pack/plugin/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/markdown-preview.nvim"]
	path = vim/.config/vim/pack/plugin/opt/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "vim/rainbow_parentheses.vim"]
	path = vim/.config/vim/pack/plugin/start/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "vim/lightline.vim"]
	path = vim/.config/vim/pack/plugin/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/vim-trailing-whitespace"]
	path = vim/.config/vim/pack/plugin/start/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "vim/vim-unimpaired"]
	path = vim/.config/vim/pack/plugin/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/Apprentice"]
	path = vim/.config/vim/pack/colors/opt/Apprentice
	url = https://github.com/romainl/Apprentice
[submodule "vim/everforest"]
	path = vim/.config/vim/pack/colors/opt/everforest
	url = https://github.com/sainnhe/everforest
[submodule "vim/vim-nix"]
	path = vim/.config/vim/pack/syntax/opt/vim-nix
	url = https://github.com/LnL7/vim-nix
[submodule "tmux/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/tmux"]
	path = tmux/.config/tmux/plugins/tmux
	url = https://github.com/tmux/tmux
[submodule "tmux/tmux-continuum"]
	path = tmux/.config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/tmux-fpp"]
	path = tmux/.config/tmux/plugins/tmux-fpp
	url = https://github.com/tmux-plugins/tmux-fpp
[submodule "tmux/tmux-fzf"]
	path = tmux/.config/tmux/plugins/tmux-fzf
	url = https://github.com/sainnhe/tmux-fzf
[submodule "tmux/tmux-resurrect"]
	path = tmux/.config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/tmux-yank"]
	path = tmux/.config/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/vim-tmux-navigator"]
	path = tmux/.config/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "tmux/tmux-sensible"]
	path = tmux/.config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
