@import "mocha.css";

@keyframes blink-warning {
    70% {
        color: @white;
    }

    to {
        color: @white;
        background-color: @orange;
    }
}

@keyframes blink-critical {
    70% {
        color: @white;
    }

    to {
        color: @white;
        background-color: @red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    font-family: JetBrains Mono;
    font-size: 11px;
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}


/* The whole bar */
#waybar {
    background-color: @surface0;
    color: @text;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface1;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#custom-music,
#tray,
#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#clock,
#custom-lock {
    padding: 0.5rem 0.5rem;
    margin: 5px 0;
}

#cpu,
#memory,
#battery {
    /* background: @surface2; */
}

/* Custom music */
#custom-music {
    font-weight: bold;
    margin: 0 1rem;
}

/* Tray */
#tray {
    background: @surface2;
    margin-right: 1rem;
    border-radius: 1rem;
}

/* CPU */
#cpu {
    border-radius: 1rem 0px 0px 1rem;
}

#cpu.warning {
    color: @orange;
}

#cpu.critical {
    color: @red;
}


/* Memory */
#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @orange;
}

#memory.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Battery */
#battery {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @blue;
}

#battery.charging {
    color: @green;
}

#battery.warning {
    color: @orange;
}

#battery.critical {
    color: @red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#pulseaudio {
    color: @white;
}

#pulseaudio.muted {
    color: @red;
}

/* Network */
#network {
    /* No styles */
}

#network.disconnected {
    color: @orange;
}

#clock {
}

#custom-lock {
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
    color: @lavender;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.visible {
    background: @base;
}

#workspaces button.current_output.visible {
    background: @mantel;
}

#workspaces button.current_output.focused {
    background: @surface2;
}
