@import "mocha.css";

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: @mauve;
    }
}

@keyframes blink-critical {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: @red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    font-family: JetBrains Mono;
    font-size: 12px;
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}


/* The whole bar */
#waybar {
    background-color: @surface0;
    color: @text;
}

/* window > box { */
/* 	margin: 1px 50px 8px; */
/*     background: rgba(0, 0, 0, 0); */
/*     border-bottom: 3px solid rgba(0, 0, 0, 0); */
/*     color: white; */
/* } */

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    background-color: @surface1;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.visible {
    background: @base;
}

#workspaces button.current_output.visible {
    background: @mantel;
}

#workspaces button.current_output.focused {
    background: @surface2;
}
#custom-music,
#tray,
#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#clock,
#custom-power {
    padding: 0.5rem 0.5rem;
    margin: 5px 0;
}

/* Custom music */
#custom-music {
    margin: 0 1rem;
    color: @lavender;
}

/* Tray */
#tray {
    background: @surface2;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

/* CPU */
#cpu {
}

#cpu.warning {
    color: @yellow;
}

#cpu.critical {
    color: @red;
}


/* Memory */
#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @yellow;
}

#memory.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Network */
#network {
    /* No styles */
}

#network.disconnected {
    color: @orange;
}

#pulseaudio {

}

#pulseaudio.muted {
    color: @red;
}

/* Battery */
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
}

#custom-power {
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 1rem;
}

